:root{
    --yellow:#D4AF37;
    --red:#990101;
    --black:#090909;

}

form{
    width: 30vw;
    
}
label, input, textarea, button{
    display: block;
}
input, textarea, button{
    width: 90%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
input, textarea{
    margin-bottom: 1rem;
    color: white;
    background-color: var(--black);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shaow 0.3s;
}
input:hover, input:focus, textarea:hover, textarea:focus{
    outline: none;
    border-color: var(--red);
    box-shadow: 0 0 0 0.3125rem #4a2626;
}

label{
    margin-bottom: 0.5rem;
    color: var(--yellow);
}
textarea{
    min-height: 13rem;
    resize: vertical;
}
button{
    width: 30vw;
    border: none;
    border-radius: 5rem;
    color: white;
    background-color: var(--yellow);
    cursor: pointer;
    transition: 0.3s;
}
button:hover, button:focus{
    outline: none;
    background-color: var(--red);
}
button:disabled{
    cursor: not-allowed;
    background-color: var(--black);
}
h1{
    color: var(--yellow);
    margin-top: 1rem;
    text-align: center;
    box-shadow: var(--red);
}
h1:hover{
    color:var(--red);
    text-align: center;
  }

  @media screen and (max-width: 500px){
    form{
        width: 70vw;
    }
  }
