* {
  font-family: Arial, Helvetica, sans-serif;
}

#corpo {
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#topo {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  border-radius: 5px;
}

#logo {
  display: flex;
  width: 25vh;
  height: auto;
  position: absolute;
  top: -10;
  left: 0;
  right: 0;
  margin: auto;
}

#burger {
  color: #D4AF37;
  font-size: 35px;
  cursor: pointer;
  display: inline;
  margin: 15px;
}

#burger:hover {
  background-color: white;
  border-radius: 50%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  padding: 30px;
}

a:hover {
  opacity: 0.7s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 30vw;
  height: 78vh;
  background-color: #090909;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 0px;
  opacity: 0;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D4AF37;
  transform: scaleX(0);
  /* Inicialmente sem largura */
  transform-origin: left center;
  transition: transform 0.3s;
}

nav a:hover {
  color: #D4AF37;
}

nav a:hover:before {
  transform: scaleX(1);
  /* Mostra a largura ao passar o mouse */
}


.login-btn {
  display: inline-block;
  background-color: #D4AF37;
  margin-right: 5px;
  padding: 2vh 1.5vh;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

#filtros {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 70vh;
  height: 21vh;
  background-color: #990101;
  border-radius: 5px;
  box-shadow: 1px 1px  rgba(212, 175, 55, 1);
}
label{
  margin: 3px;
  font-size: 2vh;
}
#selec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10%;
  justify-content: space-between;
}
option{
  background-color: #D4AF37;
  width: auto;
  margin: auto;
  
}

#botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -14%;
  margin-right: 10%;
}

.btn {
  margin: 5px;
  background-color: #D4AF37;
  border-radius: 5px;
  width: 10vh;
  height: 5vh;
  border: none;
  color: #fff;
}

#media-info {
  margin: 5px;
  width: 70vw;
  background-color: #990101;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(212, 175, 55, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinhar elementos no topo verticalmente */
  align-items: center; /* Alinhar elementos centralmente horizontalmente */
  text-align: center; /* Alinhar o texto ao centro horizontalmente */
  
}

#media-info img {
  height: 170px; /* Ajuste a altura da imagem conforme necessário */
  width: auto; /* Altura ajustada automaticamente para manter a proporção */
  border-radius: 5px;
}

#media-info h2 {
  margin-top: 10px; /* Espaçamento acima do título */
  font-size: 1.2rem;

}

#media-info p {
   /* Espaçamento acima da sinopse */
  font-size: 0.9rem;
  
}


#meio {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

#cat, #rat, #mv {
  width: 20vw;
  height: 3.2vh;
  background-color: #090909;
  color: #fff;
  border: none;
  font-size: 2vh;
}

/*
footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 12vh;
  border-radius: 5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
*/
@media screen and (max-width: 500px) {
  #filtros {
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  #selec{
    margin:auto;
  }
  #media-info{
    width: 98%;
  }
  #media-info p{
    font-size: 1rem;
  }
  #botoes{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin: auto;
  }
} 
h3:hover{
  color:#D4AF37;
}